//- 
    Copyright 2016 e-UCM (http://www.e-ucm.es/)

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    This project has received funding from the European Union’s Horizon
    2020 research and innovation programme under grant agreement No 644187.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0 (link is external)

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
 
.page-header
   h1= error.descriptiveTitle
   h2= error.message
#error
   .panel-group
      .panel.panel-default
         .panel-heading
            h4.panel-title
               a(data-toggle='collapse', href='#collapse1') More info for the developer
         #collapse1.panel-collapse.collapse
            .panel-body
               h3= error.status
               h4= error.descriptiveSubtitle
               h4= 'The URL of the issue is: ' + url
            .panel-footer
               pre #{error.stack}
